<!-- Vegetablejuice Page -->
<html>
  <head>
     <title>Vegetablejuice</title>
     <link rel="stylesheet" href="veg.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
  </head>
  <body style="background-image: url('bg4.jpg'); background-repeat: no-repeat;background-size: cover; background-position: 60%;">
   <img src="D:\intenship\jd.png">
         <a href="../intenship/cart/cart.html">
           <button class="tiny"> Cart</button>
         </a> 
       </nav>
       <div class="medium-0  columns" style="display: none;">
         <div class="cart">
             <h1>Cart items</h1>
             <div class="row">
                 <div class="medium-6 columns">
                     <button class="tiny secondary" id="clear">Clear the cart</button>
                 </div>
                 <div class="medium-6 columns">
                     <button class="tiny disabled" title="Work in progress">Checkout</button>
                 </div>
             </div>
             <div id="cartItems">Loading cart...</div>
             Total price: <strong id="totalPrice">0 $</strong>
         </div>
     </div>
`       <div class="container">
         <div class="row">
          <div class="col-sm">
           <div class="card product" data-name="carrot Juice" data-img="D:\intenship\Vegetablejuice\carrot.jpg" data-price="40" data-id="24">
               <img src="D:\intenship\Vegetablejuice\carrot.jpg" alt="" />
               <h3>Carrot Juice</h3>
               <h4>Rs.40</h4>
               <input type="number" class="count" value="1" />
               <button class="tiny">Add to cart</button>
           </div>
         </div>
           <div class="col-sm">
             <div class="card product" data-name="Cucumber Juice" data-img="D:\intenship\Vegetablejuice\cucumber.jpg" data-price="40" data-id="25">
               <img src="D:\intenship\Vegetablejuice\cucumber.jpg" alt="" />
               <h3>Cucumber Juice</h3>
               <h4>Rs.40</h4>
               <input type="number" class="count" value="1" />
               <button class="tiny">Add to cart</button>
           </div>
         </div>
           <div class="col-sm">
             <div class="card product" data-name="Spinach Juice" data-img="D:\intenship\Vegetablejuice\spinach.jpg" data-price="30" data-id="26">
             <img src="D:\intenship\Vegetablejuice\spinach.jpg" alt="" />
             <h3>Spinach Juice</h3>
             <h4>Rs.30</h4>
           <input type="number" class="count" value="1" />
             <button class="tiny">Add to cart</button>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-sm">
        <div class="card product" data-name="WheatGrass Juice" data-img="D:\intenship\Vegetablejuice\wheatgrass.jpg" data-price="50" data-id="27">
           <img src="D:\intenship\Vegetablejuice\wheatgrass.jpg" alt="" />
           <h3>WheatGrass Juice</h3>
           <h4>Rs.50</h4>
           <input type="number" class="count" value="1" />
           <button class="tiny">Add to cart</button>
       </div>
       </div>
       <div class="col-sm">
         <div class="card product" data-name="Tomato Juice" data-img="D:\intenship\Vegetablejuice\tomato.jpg" data-price="30" data-id="28">
         <img src="D:\intenship\Vegetablejuice\tomato.jpg" alt="" />
         <h3>Tomato Juice</h3>
         <h4>Rs.30</h4>
         <input type="number" class="count" value="1" />
         <button class="tiny">Add to cart</button>
     </div>
     </div>
     <div class="col-sm">
       <div class="card product" data-name="Beetroot Juice" data-img="D:\intenship\Vegetablejuice\Beet.jpg" data-price="40" data-id="29">
       <img src="D:\intenship\Vegetablejuice\Beet.jpg" alt="" />
       <h3>Beetroot Juice</h3>
       <h4>Rs.40</h4>
       <input type="number" class="count" value="1" />
       <button class="tiny">Add to cart</button>
       </div> 
     </div>
     </div>
   </div>
<script type="text/template" id="cartT">
 <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
<%= item.count %> piece<% if(item.count > 1)
{%>s
<%}%> for <%= item.total %>₹</span > </div>
<% }); %>
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
<script  src="../intenship/cart/cart.js"></script>

</body>
</html>